# User Defined Functions.

In [1]:
'''
creating a user defined function which will input his or her name and display it on the screen
'''

'\ncreating a user defined function which will input his or her name and display it on the screen\n'

In [2]:
def print_name():
  myname=input("enter your name :")
  return myname


print_name()

enter your name :SOUMO

'SOUMO'

In [5]:
def compute_square(user_input):
  return "the Square of ",user_input,"is: ",user_input**2

compute_square(5)

('the Square of ', 5, 'is: ', 25)

In [6]:
## same thing using user input

In [11]:
user_input=int(input("ENTER THE NUMBER YOU WANT TO SQUARE : "))
def compute_square(user_input):
  print (user_input**2)

compute_square(user_input)

ENTER THE NUMBER YOU WANT TO SQUARE : 5
25

In [9]:
compute_square(user_input)

25

In [10]:
user_input=int(input("ENTER THE NUMBER YOU WANT TO SQUARE : "))
compute_square(user_input)

ENTER THE NUMBER YOU WANT TO SQUARE : 5
25

**Take two numbers as inputs ,create a function that displays a powred form**

**of the values**

In [14]:
def compute_pow(a,b):
  return "The value of", a ,"raise to the power of ",b ,"is ",a**b

compute_pow(5,4)

('The value of', 5, 'raise to the power of ', 4, 'is ', 625)